db.sqlite3
compiled_static/*
*.pyc
migration.log
tmp/*
x_stuff/*
.env
.pytest_cache/*
envato/files/*
.cache/*
.DS_Store
media/*
tempdata/
templates/version.html
media/*
vid
.venv
.idea
ppay
pcms
__pycache__/*
*.code-workspace